@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  opacity: 0.8;
  width: 66%;
  border: solid 1px #ccc;
  margin: 10px auto;
  padding: 0px 20px;
}

.imageContainer {
  text-align: center;
}
.image {
  width: 160px;
  aspect-ratio: 3/4;
  border: solid 1px #ccc;
}

hr.hr {
  width: 60%;
  border: solid 1px #ccc;
}
